In [1]:
import pandas as pd
data = [
    [170, 65, 19, 85, 5],
    [180, 75, 20, 90, 6],
    [160, 55, 18, 80, 4],
    [175, 70, 21, 88, 7],
    [155, 50, 19, 82, 5],
    [165, 62, 22, 89, 6],
    [178, 80, 23, 91, 7],
    [162, 58, 20, 78, 3],
    [172, 68, 19, 86, 5],
    [169, 66, 20, 84, 4],
    [171, 64, 22, 87, 6],
    [177, 72, 21, 90, 9],
    [174, 76, 24, 88, 8],
    [158, 52, 18, 75, 3],
    [164, 63, 19, 81, 4]
]
# column names being ‘Height’, ‘Weight’, ‘Age’, ‘Avg_Grade’ and ‘Courses’ in that order.

#Question 2.1 : Create a Pandas DataFrame
columns = ['Height', 'Weight','Age', 'Avg_Grade','Courses']
df = pd.DataFrame(data, columns=columns)
print(df)

#Question 2.2 : Describe the DataFrame
print(df.describe())

#Question 2.3 : Count the Number of Students in Each Age Group
print(df['Age'].value_counts())

#Question 2.4 : Filter the DataFrame
print(df[(df['Age']>20) & (df['Avg_Grade']>85)])

#Question 2.5 : Calculate the Average Grade for Each Age Group
print(df.groupby('Age')['Avg_Grade'].mean())

    Height  Weight  Age  Avg_Grade  Courses
0      170      65   19         85        5
1      180      75   20         90        6
2      160      55   18         80        4
3      175      70   21         88        7
4      155      50   19         82        5
5      165      62   22         89        6
6      178      80   23         91        7
7      162      58   20         78        3
8      172      68   19         86        5
9      169      66   20         84        4
10     171      64   22         87        6
11     177      72   21         90        9
12     174      76   24         88        8
13     158      52   18         75        3
14     164      63   19         81        4
           Height     Weight        Age  Avg_Grade    Courses
count   15.000000  15.000000  15.000000  15.000000  15.000000
mean   168.666667  65.066667  20.333333  84.933333   5.466667
std      7.687343   8.811248   1.799471   4.817626   1.767430
min    155.000000  50.000000  18.000000  75.000000   3.000000
25%    163.000000  60.000000  19.000000  81.500000   4.000000
50%    170.000000  65.000000  20.000000  86.000000   5.000000
75%    174.500000  71.000000  21.500000  88.500000   6.500000
max    180.000000  80.000000  24.000000  91.000000   9.000000
Age
19    4
20    3
18    2
21    2
22    2
23    1
24    1
Name: count, dtype: int64
    Height  Weight  Age  Avg_Grade  Courses
3      175      70   21         88        7
5      165      62   22         89        6
6      178      80   23         91        7
10     171      64   22         87        6
11     177      72   21         90        9
12     174      76   24         88        8
Age
18    77.5
19    83.5
20    84.0
21    89.0
22    88.0
23    91.0
24    88.0
Name: Avg_Grade, dtype: float64